rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // =========================
    // ADMIN
    // =========================

    function isAdmin() {
      return request.auth != null
        && request.auth.uid == "3NpJ5p3MJgWw9EIBoRUMuXaulhy2";
    }

    // =========================
    // CUSTOMERS
    // =========================

    match /users/{userId} {
      allow read, write: if request.auth != null
                            && request.auth.uid == userId;

      allow read, update: if isAdmin();
    }

    // =========================
    // MAIDS
    // =========================

    match /maids/{maidId} {
      // Maid can access only their own profile
      allow read, write: if request.auth != null
                            && request.auth.uid == maidId;

      // Admin can review and update any maid
      allow read, update: if isAdmin();
    }

    // =========================
    // CATEGORIES
    // =========================

    match /categories/{categoryId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    // =========================
    // BOOKINGS
    // =========================

    match /bookings/{bookingId} {
      allow read, write: if request.auth != null;
    }

    // =========================
    // EVERYTHING ELSE
    // =========================

    match /{document=**} {
      allow read, write: if false;
    }
  }
}